@charset "utf-8";
/*图库首页*/
html{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;-o-user-select:text;user-select:text;}
.tuku-index-section{position:relative;display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; padding:0.08rem 0.1rem 0.12rem; background:#f2f2f2;}
.tuku-index-section::after{ content:""; position:absolute; bottom:0; left:0; right:0; border-bottom:1px solid #e5e5e5;}
.tuku-index-section:first-of-type{ padding-top:0.12rem;}
.tuku-index-section:last-of-type::after{display:none;}
.tuku-index-section .section-left{ position:relative; flex:3; -webkit-box-flex:3; -webkit-flex:3; -moz-flex:3;}
.tuku-index-section .left-box{ position:absolute; left:0; top:0;bottom:0;right:0; height:100%; margin-right:0.1rem; padding:0.03rem; padding-bottom:102.2%; background:#fff; box-shadow:0 2px 3px rgba(0,0,0,.15);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.tuku-index-section .left-box .left-img{ position:absolute; left:0.03rem;bottom:0.03rem;right:0.03rem; padding-top:124%;}
.tuku-index-section .left-box .tuku-images{ position:absolute; left:0;top:0;right:0;bottom:0; width:100%;height:100%;}
.tuku-index-section .left-box .left-text{ position:absolute;top:24.73%; left:0; right:0; padding:0 0.04rem;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.tuku-index-section .left-box .left-h5{ font-size:0.14rem; color:#333; line-height:0.28rem; text-align:center;border-bottom:1px solid #b5b5b5;}
.tuku-index-section .left-box .left-txt{ padding-top:0.05rem; height:0.24rem; line-height:0.12rem; font-size:0.06rem; color:#333; overflow:hidden;}
.tuku-index-section .left-box .left-btn{ padding-top:0.05rem; text-align:center;}
.tuku-index-section .left-box .left-a{ display:inline-block; padding:0 0.05rem; line-height:0.12rem; font-size:0.07rem; color:#333; border:1px solid #b5b5b5;vertical-align:top;}
.tuku-index-section .section-right{ flex:7; -webkit-box-flex:7; -webkit-flex:7; -ms-flex:7; background:#fff; box-shadow:0 2px 3px rgba(0,0,0,.15);}
.tuku-index-section .img-box{ position:relative;padding:0.03rem 0.03rem 0;}
.tuku-index-section .img-box .img-p{ position:relative; padding-top:45%;}
.tuku-index-section .img-box .tuku-images{ position:absolute; left:0;top:0;right:0;bottom:0; width:100%;height:100%;}
.tuku-index-section .img-box .tuku-tags{ position:absolute; bottom:0.08rem; left:0.08rem; padding:0 0.15rem; line-height:.24rem; font-size:0.12rem; color:#666; background-color:rgba(255,255,255,.85);}
.tuku-index-section .img-box.second1,.tuku-index-section .img-box.second2{ float:left; width:50%; padding:0.03rem 0.02rem 0.03rem 0.03rem;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.tuku-index-section .img-box.second1 .img-p,.tuku-index-section .img-box.second2 .img-p{ padding-top:92%;}
.tuku-index-section .img-box.second2{ padding:0.03rem 0.03rem 0.03rem 0.01rem;}
.tuku-more-section{ position:relative; background:#f2f2f2;}
.tuku-more-section::after{ content:""; position:absolute; left:0; bottom:0; right:0; border-bottom:1px solid #e3e3e3;}
.tuku-more-section .more-h5{ position:relative; margin:0 0.1rem; line-height:.34rem; text-align:center;}
.tuku-more-section .more-h5 .more-txt{ position:relative; z-index:5; padding:0 0.08rem; color:#333; font-size:0.14rem; background-color:#f2f2f2;}
.tuku-more-section .more-h5 .icon{ display:inline-block; width:0.15rem; height:0.15rem; margin-top:0.09rem; margin-right:0.04rem; background:url("//mued3.jia.com/image/mobile/tuku/tuku-more.png") 0 0 no-repeat; background-size:100%; vertical-align:top;}
.tuku-more-section .more-h5::after{ content:""; position:absolute; left:0;right:0; top:50%; border-bottom:1px solid #eaeaea;}
.tuku-more-section .more-list{ margin-left:0.1rem;}
.tuku-more-section .more-li{ float:left; width:50%;}
.tuku-more-section .more-li .more-txt{ padding-bottom:0.07rem; line-height:0.28rem; font-size:0.12rem; color:#666; text-align:center;}
.tuku-more-section .more-p{ position:relative; margin-right:0.1rem; padding-top:65.5%;}
.tuku-more-section .more-img{position:absolute;left:0; top:0; width:100%; height:100%; padding:0.03rem; background-color:#fff; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;box-shadow:0 2px 3px rgba(0,0,0,.15);}
/*今日美图热点*/
.hot-pic{position:relative;background-color:#fff;padding:.1rem 0;margin:.09rem .09rem -.03rem .09rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.hot-pic .pic-container{height:.38rem;padding:0 .26rem 0 .1rem;overflow:hidden;-webkit-box-flex:1;-ms-flex:1;flex:1;}
.hot-pic .icon{display:inline-block;width:.66rem;height:.16rem;background:url(//mued3.jia.com/image/mobile/tuku/today_pic.png) center center no-repeat;background-size:100%;margin:.11rem .07rem;vertical-align:top;}
.hot-pic .slide-wire{display:inline-block;width:1px;height:.38rem;background-color:#e6e6e6;}
.hot-pic .pic-container a{font-size:.11rem;color:#333;display:block;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.hot-pic .pic-container .swiper-slide{height:.38rem;line-height:.19rem;}
.hot-pic .more-pic{position:absolute;right:.08rem;top:50%;width:.2rem;height:.2rem;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);}
.hot-pic .arrow{position:absolute;top:50%;right:.08rem;border-left:.02rem solid #ccc;border-bottom:.02rem solid #ccc;width:.06rem;height:.06rem;display:inline-block;transform:translateY(-50%) rotate(-135deg);-webkit-transform:translateY(-50%) rotate(-135deg);-moz-transform:translateY(-50%) rotate(-135deg);}
.hot-pic .hot-icon{display:inline-block;margin-right:.06rem;width:.16rem;height:.17rem;background:url("//mued3.jia.com/image/mobile/tuku/hot-icon.png") no-repeat;background-size:100%;text-indent:-9999px;vertical-align:top;margin-top:.01rem;}
.hot-pic .pic-container .swiper-slide a:last-of-type .hot-icon{background-position:0 86%;}
/*图集列表*/
.tuku-images-list{position:relative;padding:.38rem 0 .06rem .06rem; background:#fff;}
.tuku-images-list.tuku-tag-top{padding-top:.73rem;}
.tuku-images-list.tuku-tag-top ul.list-ul{padding-top: .38rem;}
.tuku-images-list.tuku-tag-top .tuku-images-nav{top:.73rem;}
.tuku-images-list .list-ul{ float:left; width:50%;}
.tuku-images-list .list-li{ margin-top:0.06rem;padding-right:.06rem;box-sizing:border-box;}
.tuku-images-list .list-a{position:relative;display:block;width:100%;background:#fff;box-shadow:0 0 1px 0 #b2b2b2;padding-bottom:.06rem;box-sizing:border-box;}
.tuku-images-list .list-li .title{max-height:0.36rem;padding:0.07rem .1rem 0 0.1rem;font-size:0.12rem; line-height:0.18rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/*.tuku-images-list .list-li .info{ padding:.07rem .1rem 0 0.1rem; color:#999; font-size:0.12rem; line-height:0.18rem;}*/
.tuku-images-list .list-li .info{position:absolute;right:0;bottom:.4rem;font-size:.1rem;color:#fff;      background:rgba(0,0,0,0.5);padding:.02rem .05rem;}
.tuku-images-nav{position:absolute; z-index:12; left:0;top:0; right:0; width:100%; height:.38rem; background:#fff;}
.b-t-de{border-top: 1px solid #dedede;}
.tuku-images-nav .nav-ul{display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;  height:0.38rem;}
.tuku-images-nav .nav-li{-webkit-box-flex:1; -webkit-flex:1; -moz-flex:1; flex:1; padding:0.06rem 0; border-bottom:1px solid #dedede;}
.tuku-images-nav .nav-a{ position:relative; display:block; width:100%; padding:0 25% 0 15%; line-height:0.25rem; border-right:1px solid #ececec;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.tuku-images-nav .nav-span{ display:block; width:100%; font-size:0.12rem; color:#333; white-space:nowrap; text-overflow:ellipsis; text-align:center; overflow:hidden;}
.tuku-images-nav .nav-em{ position:absolute; right:15%; top:50%; width:0.05rem;height:0.05rem;margin-top:-0.05rem;border:1px solid #c8c8c8; border-top:1px transparent solid; border-right:1px transparent solid;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transition: all .5s ease-out;-moz-transition: all .5s ease-out;-ms-transition: all .5s ease-out;-o-transition: all .5s ease-out;transition: all .5s ease-out;}
.tuku-images-nav .nav-li.cur{ border-bottom:1px solid transparent;}
.tuku-images-nav .nav-li.cur .nav-em{margin-top:-0.01rem;-webkit-transform: rotate(-225deg);-moz-transform: rotate(-225deg);-ms-transform: rotate(-225deg);-o-transform: rotate(-225deg);transform: rotate(-225deg);}
.tuku-images-nav .nav-show-menu{ height:0; background:#fff; overflow:hidden;-webkit-transition: all 0.6s ease-out;-moz-transition: all 0.6s ease-out;-ms-transition: all 0.6s ease-out;-o-transition: all 0.6s ease-out; transition: all 0.6s ease-out;}
.nav-show-menu .menu-ul{ padding-left:0.12rem; padding-bottom:0.12rem;}
.nav-show-menu .menu-li,.nav-show-menu .menu-li-more{ float:left; width:25%;}
.nav-show-menu .menu-a,.nav-show-menu .menu-a-more,.nav-show-menu .menu-color{ display:block; margin-right:0.12rem; margin-top:0.12rem; line-height:0.24rem; text-align:center; font-size:0.11rem; color:#666; border:1px solid #dedede; border-radius:0.04rem;height:.24rem;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.nav-show-menu .menu-li.cur .menu-a{ color:#d00; border-color:#d00;}
.nav-show-menu .menu-a-more,.nav-show-menu .menu-color{height:0.26rem;line-height:.26rem; border:0 none; background:#e5e5e5;}
.nav-show-menu .menu-li.cur .menu-color{height:.24rem; border:1px solid #d00;}
.nav-show-menu .menu-color.color-0{height:0.24rem;line-height:.24rem; border:1px solid #d5d5d5; background:#fff;}
.nav-show-menu .menu-color.color-1{ background:#f1ebe5;}
.nav-show-menu .menu-color.color-2{ background:#f4e8b1;}
.nav-show-menu .menu-color.color-3{ background:#f4cdb0;}
.nav-show-menu .menu-color.color-4{ background:#eca9b1;}
.nav-show-menu .menu-color.color-5{ background:#f4c6cf;}
.nav-show-menu .menu-color.color-6{ background:#dfe6ae;}
.nav-show-menu .menu-color.color-7{ background:#bcd1e6;}
.nav-show-menu .menu-color.color-8{ background:#ccb8e0;}
.nav-show-menu .menu-color.color-9{ background:#999999;}
.nav-show-menu .menu-color.color-10{ background:#d6c5b3;}
.nav-show-menu .menu-color.color-11{ background:#d0d0d0;}
.nav-show-menu .menu-color.color-12{ background:url("//mued3.jia.com/image/mobile/tuku/tuku-color1.png") 0 0 no-repeat; background-size:100% 100%;}
.nav-show-menu .menu-color.color-13{ background:url("//mued3.jia.com/image/mobile/tuku/tuku-color2.png") 0 0 no-repeat;  background-size:100% 100%;}
.nav-show-menu .menu-color.color-14{ background:url("//mued3.jia.com/image/mobile/tuku/tuku-color3.jpg") 0 0 no-repeat;  background-size:100% 100%;}

/*图片详情*/
.tuku-more-header{ position:absolute; z-index:9; left:0;top:0; right:0; width:100%; border-bottom:1px solid #c9c9c9; background:#fff;}
.tuku-more-header .backtohis{height:.25rem;width:.25rem;text-indent:-9999px;margin:.11rem;padding:0;background:url("//mued3.jia.com/image/mobile/tuku/tuku-header-back.png") no-repeat 0 0;background-size:100% auto;}
.tuku-more-header .header_title{padding:0 .48rem; text-align:center;font-size:.14rem; line-height:.46rem; color:#333;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.tuku-more-header .anli-btn{ top:50%; right:0.11rem; margin-top:-.12rem;height:.25rem;line-height:.25rem;width:.25rem;}
.tuku-more-swipe{ position:absolute; z-index:5; top:.46rem; bottom:.42rem;left:0;right:0; overflow:hidden; background:#f2f2f2;}
.tuku-more-swipe.app{top:0;}
.tuku-more-swipe .swipe-ul{ height:100%;}
.tuku-more-swipe .swipe-li{ float:left; position:relative; height:100%;}
.tuku-more-swipe .swipe-li img{ position:absolute; top:50%; left:0; width:100%;-webkit-transform: translateY(-50%); -moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%); transform: translateY(-50%);}
.tuku-more-footer{ position:absolute; z-index:9; left:0;bottom:0; right:0; width:100%; height:.42rem; background:#fff; border-top:1px solid #999;}
.tuku-more-footer .foot-btn{ display:block; height:.42rem; line-height:.42rem; font-size:.14rem;color:#666; text-align:center;}

.popup-price,.popup-success{ display:none; position:absolute; z-index:98; left:0; width:92.5%; margin:0 3.75%; padding:0.16rem; -webkit-box-sizing:border-box; box-sizing:border-box; background:#f6f6f6; border-radius:0.05rem;}
.popup-price .txt{ line-height:0.3rem; font-size:0.14rem; color:#333;}
.popup-price .input-box{ position:relative; padding-right:1rem;}
.popup-price .get-code{ position:absolute; right:0; top:0.1rem; width:1rem; height:0.4rem; line-height:0.4rem; color:#d00; text-align:center; border:1px solid #e0e0e0; background:#fff; border-radius:0 0.05rem 0.05rem 0;}
.popup-price .get-code.disabled{ color:#fff; background:#aaa;}
.popup-price .input-number{width:100%; height:0.42rem; line-height:0.2rem; padding:0.1rem; margin-top:0.1rem; color:#333; border:1px solid #e0e0e0; outline:0 none; background:#fff; vertical-align:top; border-radius:0.05rem; -webkit-box-sizing:border-box; box-sizing:border-box;}
.popup-price .input-box .input-number{ border-radius:0.05rem 0 0 0.05rem;}

.popup-price .house-site{ position:relative; height:0.4rem; margin-top:0.1rem; border:1px solid #e0e0e0; border-radius:0.05rem;}
.popup-price .house-site .house-select{width:100%; height:0.4rem; line-height:0.2rem; padding:0.1rem 0.08rem; color:#333; border:0 none; outline:0 none; background:#fff; vertical-align:top;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; border-radius:0.05rem;}
.popup-price .house-site .arrow{ position:absolute; right:0.12rem; top:0.12rem; height:0.2rem; width:0.2rem; background:url(//mued3.jia.com/image/mobile/tuku/tuku-arrow.png) 0 0 no-repeat; background-size:100%;}
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button{-webkit-appearance: none;appearance: none;margin: 0;}
.popup-price .btn-box{ margin-top:0.18rem;}
.popup-price .close,.popup-success .close{ position:absolute; right:0.1rem; top:0.1rem; width:0.15rem; height:0.15rem; background:url(//mued3.jia.com/image/mobile/mobile_shop/new_mobileshop/mobile_201412/company-info.png) 0 -0.3rem no-repeat; background-size:100%;}
.popup-price .get-code.get-yz{border-left: none;height: .42rem;line-height: .42rem;}

/*empty*/
.tuku-images-empty{ padding:1.08rem 0; text-align:center; background:#fff;}
.tuku-images-empty img{ width:60%;}
.tuku-images-empty .txt{ padding-top:0.2rem; line-height:0.36rem; font-size:0.16rem; text-align:center; color:#666;}
.tuku-loading{ display:none; padding:0.1rem 0; background:#fff; text-align:center;}
.tuku-loading img{ width:auto;}

/*装修列表弹窗*/
.zx-popup-common{display:none;position: absolute;top:0;padding:0.1rem;width:100%;height:100%;  background:#f6f6f6;color:#333;z-index:99;box-sizing:border-box;}
.zx-popup-common .input-number {width: 100%;height: 0.42rem;line-height: 0.2rem;padding: 0.1rem;margin-top: 0.1rem;color:#333;border: 1px solid #e0e0e0;outline: 0 none;
	background: #fff;vertical-align: top;border-radius: 0.05rem;-webkit-box-sizing: border-box;box-sizing: border-box;}
.zx-popup-common .btn-box {margin-top: 0.18rem;}
.zx-popup-common .txt {line-height: 0.3rem;font-size: 0.14rem;color:#666;}
.zx-popup-common .close{position: absolute;right: 0.2rem;top: 0.1rem;width: 0.24rem;height: 0.25rem;background: url("//mued3.jia.com/image/mobile/new/zx-close.png") no-repeat;
	background-size: 100% auto;}
.zx-popup-common .city-select{width: 100%;height: 0.4rem;line-height: 0.2rem;padding:0.1rem;margin-top:0.1rem;
	color: #333;border:1px solid #e0e0e0;background: #fff;vertical-align: top;border-radius: 0.05rem;box-sizing: border-box;}
.zx-popup-common .city-select select{border:none;outline: 0 none;line-height:.2rem;width:75%;}
.popup-price.zx-popup-common{transform: translateY(0);-moz-transform: translateY(0); -webkit-transform: translateY(0);}
.zx-popup-common .house-select{width:100%; height:0.4rem; line-height:0.2rem; padding:0.1rem; color:#333; border:0 none; outline:0 none; background:#fff; vertical-align:top; border-radius:0.05rem;}
.zx-popup-common .form-input{position:relative; display:block; height:0.42rem; margin-top:0.12rem; border:1px solid #e0e0e0; background:#fff; border-radius:0.05rem; -webkit-box-sizing:border-box; box-sizing:border-box;}
.zx-popup-common .form-input .arrow{ position:absolute; z-index:9; content:''; right:0.12rem; top:0.12rem; height:0.15rem; width:0.2rem; background:url(//mued3.jia.com/image/mobile/mobile_shop/new_mobileshop/mobile_201412/icons.png) 0 -0.4rem no-repeat; background-size:100%; -webkit-transform:rotate(90deg); transform:rotate(90deg);}
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button{-webkit-appearance: none;appearance: none;margin: 0;}
.input-box{position:relative;}
.zx-popup-common .get-code{ position:absolute; right:0; top:0.1rem; width:1rem; height:0.4rem; line-height:0.4rem; color:#d00; text-align:center; border:1px solid #e0e0e0; background:#fff; border-radius:0 0.05rem 0.05rem 0;}
.zx-popup-common .get-code.disabled{ color:#fff; background:#aaa;}
/*图库详情页新版zlj*/
.header.tuku_header,.newHeader.tuku_header{position:absolute;top:0;left:0;background:rgba(255,255,255,0.5);border-bottom:none;z-index:97!important;}
.anliImgBox{position:absolute;width:100%;overflow:hidden;height:100%;top:0;bottom:0;background:#fff;max-width:640px;}
.anliImgBox.cur{width: 100%;background: #fff;margin: 0 auto;position: relative;overflow: hidden;z-index: 1;-webkit-transition-duration:0.1s;-moz-transition-duration:0.1s;-o-transition-duration:0.1s;transition-duration:0.1s;}

.header.tuku_header .header_title{width:2.3rem;}
.anliImgBox ul{height:100%;display:-webkit-box;display:-moz-box;display:box;}
.anliImgBox ul li{position:relative;width:100%;height:100%;float:left;}
.anliImgBox ul li img{display:block;width:100%;max-height:100%;
	position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
.anliImgBox ul li .title{position:absolute;left:0;bottom:.4rem;width:100%;height:.3rem;line-height:.3rem;background:rgba(255,255,255,0.5);font-size:.11rem;padding:0 .12rem;box-sizing:border-box;}
.anliImgBox ul li .title.cur{background:none;bottom:0;}
.anliImgBox ul li .title p,.tk_detail_title p{float:left;width:90%;
	text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.footer-tuku{position:absolute;z-index:9;left:0;bottom:0;
	right:0;width:100%;height:.5rem;background:#fff;}
.footer-tuku .footer-btn{display:block;font-size:.14rem;color:#dd0000;border:1px solid #dd0000;text-align:center;height:.44rem;line-height:.44rem;margin:.05rem .12rem;box-sizing:border-box;border-radius:.05rem;}
.pinch-zoom-container{width:100%;position:absolute!important;height:100%!important;}
.footer-tuku .apply-icon{display:inline-block;width:.15rem;height:.21rem;background:url("//mued3.jia.com/image/mobile/tuku/apply-icon.png") no-repeat;background-size:100% auto;vertical-align:top;margin:.115rem .05rem 0 0;}
.anliImgBox ul li .title span{position:absolute;right:.12rem;bottom:0;}
.anliImgBox ul li img.loading {width: auto;}
.anliImgBox .pinch-img{position:absolute;width:100%;height:100%;}
.tk_detail_title{position:fixed;font-size:.11rem;height:.3rem;line-height:.3rem;left:0;bottom:.4rem;right:0;width:100%;padding:0 .12rem;box-sizing:border-box;z-index:10;}
.anliImgBox.smhz-anli{position:relative;background:#000;}
.anliImgBox.smhz-anli ul li .title{background:#000;color:#fff;}
.tt_fixed_btn.smhz-footer{background:#000;border-top:none;}
.tt_fixed_btn.smhz-footer .jz_btn{width:49%;background:rgba(255,255,255,0.16);border-radius:.05rem;}
.tt_fixed_btn.smhz-footer .jz_btn:last-child{margin-left:2%;background:rgba(255,255,255,0.16);}
.recommendSec.smhzSec{padding-bottom:.6rem;}
.recommendSec.smhzSec,.recommendSec.smhzSec .title,.recommendSec.smhzSec .title span,.recommendSec.smhzSec .recommend-list .recommend-a{color:#fff;background:#000;}

/*图库tags页头部搜索zlj*/
.header.fix_header,.newHeader.fix_header{position:fixed;top:0;left:0;z-index:96;}
.tk_main_nav{position:fixed;}
.header .tk_search,.tk_search_cur,.newHeader .tk_search{background:url("//mued3.jia.com/mob/image/common/wap/header-icon.png") no-repeat;  height:.2rem;width:.2rem;display:block;text-indent:-9999px; margin:.115rem .11rem;background-size:100% auto;}
.tk_search_cur{background-position:0 70%;}
.header .tk_search,.newHeader .tk_search{background-position:0 60%;z-index:100;}
.navs-wrap{position:fixed;top:0;left:0;right:0;bottom:0;
	background-color:rgba(240,240,240,.9);z-index:99;display:none;}
.searchin{display:block;
	-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;
	-webkit-animation:searchin 300ms;-moz-animation:searchin 300ms;animation:searchin 300ms;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;transform-origin:50% 50%;}
.searchout{display:block;
	-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;animation-fill-mode:forwards;
	-webkit-animation:searchout 300ms;-moz-animation:searchout 300ms;animation:searchin 300ms;-webkit-transform-origin:50% 50%;}
.sub-navs-wrap{margin-top:.43rem;}
.navs-wrap .title{display:block;width:.7rem;height:.24rem;line-height:.24rem;font-size:.1422rem;color:#fff;background:#ffb71e;padding-left:.12rem;box-sizing:border-box;border-radius:0 .13rem .13rem 0;margin-top:.12rem;}
.navs-wrap .arrow{display:inline-block;border-style:solid;
	border-color:#fff transparent transparent #fff;border-width:.01rem 0 0 .01rem;width:.05rem;height:.05rem;
	display:inline-block;transform:rotate(135deg);-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);margin:-0.03rem 0 0 0;vertical-align:middle;}
.navs-wrap .sub-navs-ul{padding:0 .12rem;}
.navs-wrap .sub-navs-ul li{float:left;width:31.3%;height:.32rem;line-height:.32rem;background:#fff;border:1px solid #fbfbfb;margin:.1rem 3% .1rem 0;text-align:center;font-size:.133rem;border-radius:.06rem;box-sizing:border-box;}
.navs-wrap .sub-navs-ul li:active{border:1px solid #ffb71e;}
.navs-wrap .sub-navs-ul li:nth-child(3n+3){margin-right:0;}
.navs-wrap .sub-navs-ul li a{display:block;}
.navs-wrap .sub-navs-ul li:active a{color:#ffb71e;}
/*图库弹窗zlj*/
.popup-common.tuku-common{position:fixed;margin:0 11%;background:#fff;padding:.1rem 0;top:.5rem!important;}
.popup-common .poptk_title{font-size:.1422rem;color:#333;text-align:center;padding-top:.1rem;line-height:.35rem;}
.popup-common .poptk_title i{display:inline-block;width:.35rem;height:.35rem;background:url("//mued3.jia.com/image/mobile/tuku/tuku_smile.png") no-repeat;background-size:100%;vertical-align:top;margin-right:.08rem;}
.popup-common .phone_title{padding:0 .1rem 0 .15rem;font-size:.1126rem;color:#666;margin-top:.1rem;}
.popup-common .phone_mg{margin-bottom:.2rem;}
.popup-common .tk-search-box{
	position:relative;
	margin:.1rem .15rem 0 .15rem;
}
.popup-common .tk-search-input,.tk_improve .tk-search-input{
	width:100%;
	display:block;
	font-size:.1244rem;
	height:.3rem;
	line-height:.3rem;
	line-height:normal;
	background:#fff;
	padding-left:.07rem;
	box-sizing:border-box;
}
.popup-common .tk-search-box:after,.tk_improve .tk-search-box:after{
	content: '';
	position: absolute;
	bottom:0;
	left:0;
	height:.04rem;
	width:100%;
	border:1px solid #aaa;
	border-top:none;
	box-sizing:border-box;
}
.popup-common .tk-search-box.cur:after,.tk_improve .tk-search-box.cur:after{
	border:1px solid #dd0000;
	border-top:none;
}
.popup-common .tk_appoint{display:block;text-align:center;color:#007fd7;font-size:.1422rem;padding:.2rem 0 .04rem 0;}
.popup-common .tk_submit{display:block;text-align:center;color:#fff;
	font-size:.1244rem;border-top:1px solid #ebebeb;background:#dd0000;height:.32rem;line-height:.32rem;margin:.16rem .15rem 0 .15rem;
	border-radius:.05rem;}
.phone_error{display:none;color:#f2861b;font-size:.1126rem;background:#fff5eb;height:.22rem;line-height:.22rem;padding-left:.15rem;margin-top:.1rem;}
.popup-common .appoint_title{font-size:.1422rem;color:#333;text-align:center;padding-top:.06rem;}
.phone_title .tk_tip{display:inline-block;width:.12rem;height:.12rem;background:url("//mued3.jia.com/image/mobile/tuku/tk_tip.png") no-repeat;background-size:100%;vertical-align:top;margin:.015rem .04rem 0 0;}
.footer-tuku .tk_limit{position:relative;display:inline-block;font-size:.09rem;background:#ff9000;color:#fff;width:.22rem;height:.12rem;line-height:.12rem;margin-left:.06rem;border-radius:.02rem;  vertical-align:top;margin-top:.16rem;}
.footer-tuku .tk_limit:after{content:'';position:absolute;top:.04rem;right:100%;width:0;height:0;border-right:.02rem solid #ff9000;border-top:.02rem solid transparent;border-bottom:.02rem solid transparent;}
.popup-common .tk-search-box,.tk_improve .tk-search-box{height:.3rem;}
.popup-common .house_area,.tk_improve .house_area{float:left;display:inline-block;font-size:.1244rem;color:#333;width:33%;height:.3rem;line-height:.3rem;padding-left:.05rem;box-sizing:border-box;}
.popup-common .area-box .tk-search-input,.tk_improve .area-box .tk-search-input{width:57%;float:left;}
.popup-common .square,.tk_improve .square{display:inline-block;width:10%;height:.3rem;line-height:.3rem;float:left;font-size:.1244rem;padding-right:.05rem;box-sizing:border-box;}
sup{vertical-align:top;}
.yusuan_box{height:.4rem;}
.tk_improve .yusuan_box .tk-select{color:#333;}
.popup-common .tk-select,.tk_improve .tk-select{width:100%;display:block;font-size:.1244rem;height:.3rem;line-height:.3rem;line-height:normal;
	background:#fff;padding-left:.07rem;box-sizing:border-box;border:none;appearance:none;-webkit-appearance:none;-moz-appearance:none;}
.popup-common .tk-select{padding-left:0.05rem;color:#333;}
.tk_floor{width:100%;height:0.5rem;position:fixed;bottom:0rem;left: 0rem;z-index:8;background:rgba(0,0,0,0.6);}
.tk_floor.new_tk_floor{background:none;height:.61rem;}
.layer_con .layer_dl{width:100%;padding:.07rem .68rem .07rem .78rem;color:#fff;line-height:.18rem;box-sizing:border-box;}
.layer_con .layer_dl dt {font-size:0.12rem;font-weight:bold;}
.layer_con .layer_dl dd {font-size:0.1rem;}
.layer_con .wap_check{display: block;width:0.84rem;height:0.24rem;background:#dd0000;border-radius:0.04rem;font-size:0.12rem;
	text-align:center;line-height:0.24rem;color:#fff;position:absolute;top:0.14rem;right:0.1rem;}
.layer_con .layer_logo{position:absolute;left:.1rem;top:-.23rem;
	width:.58rem;height:.73rem;background:url("//mued3.jia.com/image/mobile/tuku/free_baojia.png") no-repeat;background-size:100%;}
.layer_con .layer_logo.design{background:url("//mued3.jia.com/image/mobile/tuku/free_design.png") no-repeat;background-size:100%;}
.tk-search-box .arrow{position:absolute;border-style: solid;
	border-color:#666 transparent transparent #666;
	border-width:.01rem 0 0 .01rem;width:.06rem;height:.06rem;
	display:inline-block;transform:rotate(225deg);
	-webkit-transform:rotate(225deg);-moz-transform:rotate(225deg);top:.095rem;
	right:.1rem;z-index:2;vertical-align:middle;}
/*完善信息*/
.tk_improve .new_title{font-size:.1422rem;color:#333;text-align:center;padding-top:.26rem;line-height:.35rem;}
.tk_improve .new_title i{display:inline-block;width:.35rem;height:.35rem;background:url("//mued3.jia.com/image/mobile/wxStore/sign_success.png") no-repeat;background-size:100%;vertical-align:top;margin-right:.1rem;}
.tk_improve .design_ws{font-size:.1126rem;color:#666;background:#eeeeee;padding:.06rem .12rem;margin-top:.26rem;}
.tk_improve .design_ws i,.recommend-info i{display:inline-block;width:.14rem;height:.14rem;background:url("//mued3.jia.com/image/mobile/tuku/edit.png") no-repeat;background-size:100% auto;vertical-align:top;margin-right:.03rem;}
.tk_improve .tk-search-box{position:relative;margin:.1rem 3.75% 0 3.75%;}
.tk_improve .house_area{width:26%;}
.tk_improve .area-box .tk-search-input{width:64%;}
.tk_improve .tk-select{width:74%;color:#333;}
.style_select .title-info{position:relative;font-size:.1244rem;margin:.15rem 0 0 .16rem;color:#999;}
.style_select .house-ul{padding:0 3% 3% 3%;}
.style_select .house-ul a{position:relative;display:block;float:left;width:22.75%;color:#666;background:#fff;height:.26rem;line-height:.26rem;border:1px solid #e7e7e7;font-size:.12rem;text-align:center;margin:3% 3% 0 0;border-radius:.05rem;box-sizing:border-box;}
.style_select .house-ul li.cur a{border:1px solid #dd0000;}
.style_select .house-ul li.cur a:before{content:'';position:absolute;right:0;bottom:0;width:.13rem;height:.13rem;background:url("//mued3.jia.com/image/mobile/tuku/select_cur.png") no-repeat;background-size:100%;}
.style_select .house-ul li:nth-child(4n+4) a{margin-right:0;}
.tk_improve .btn_submit{padding:.1rem .12rem 0 .12rem;}
.tk_improve .back_pic{display:block;font-size:.1422rem;color:#007fd7;text-align:center;padding:.18rem 0 .34rem 0;}
.tk_improve .tk-select option{color:#333;}
.tk_improve .yusuan_one .house_area{width:40%;}
.tk_improve .yusuan_one .tk-select{float:left;width:50%;}
.tk_improve .yusuan_one .tk-search-box.area-box{width:32.75%;margin-right:3.75%;}
.tk_improve .yusuan_one .area-box .tk-select{width:83%;}
.tk_improve .yusuan_one .area-box .square{width:17%;}
.tk_improve .yusuan_two .tk-search-box{float:left;margin-left:27%;width:32.75%;}
.tk_improve .yusuan_two .house_area{width:53%;}
.tk_improve .yusuan_two .square{width:17%;}
.tk_improve .yusuan_two .tk-select{float:left;width:83%;}
.tk_improve .yusuan_two .area-box{float:right;width:32.75%;
	margin-left:0;margin-right:3.75%;}
.tk_improve .yusuan_two .area-box .tk-select{width:83%;}
.tk_improve .yusuan_two .area-box .square{width:17%;}
.tk_improve .yusuan_one .tk-search-box{float:left;width:56%;
	margin-left:3.75%;margin-right:0;}
/*报名成功*/
.tk_improve.tk_success .new_title i{background:url("//mued3.jia.com/image/mobile/weixin_info/g_yes.png");background-size:100% auto;}
.tk_improve .success_info{font-size:.1244rem;color:#666;text-align:center;padding:.1rem 0 .22rem 0;}
.tg_list_box{padding:0 .12rem;}
.tk_improve .tuku-images-list{background:transparent;padding-top:0;}
.recommend-info{position:relative;font-size:.1126rem;
	margin:.08rem .1rem;color:#666;text-align:center;}
.recommend-info:before {content: '';position: absolute;
	top:50%;width:100%;left:0;height:1px;background:#cbcbcb;}
.recommend-info span{position:relative;z-index:2;background:#efefef;padding:0 .05rem;}
.recommend-info i{background-position:0 33.3%;}
.tk_improve .btn_submit.yusuan{padding-top:.2rem;}
.tk_improve .suc-banner{display:block;padding:0 .12rem;}
/*图库新版首页*/
.buy-img{margin-top:.09rem;display:block;}
.tuku_index_section{position:relative;padding:0.12rem .09rem 0 .09rem;}
.image-box{ position:relative; display:block; overflow:hidden;background:#f8f8f8;}
.image-box .img-mask{ position:absolute; left:0; top:0; right:0; bottom:0; background:#f8f8f8;}
.image-box img{ position:absolute; left:0; top:0; height:100%;}
.image-box .loading{ left:50%; top:50%; width:.64rem; height:auto; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
.pic_ul .image-box .loading{width: .46rem;}
.sectionTop{width:100%;background:#fff;}
.sectionTop .leftBox,.sectionTop .rightBox{float:left;width:49.65%;}
.sectionTop .leftBox{position:relative;margin-right:0.7%;}
.sectionTop .leftBox .image-box{padding-top:89%;}
.sectionTop .right_a{float:left;width:49.65%;padding-top:44%;margin-right:0.7%;}
.sectionTop .right_a:nth-child(2n+2){margin-right:0;}
.sectionTop .right_a:first-child,.sectionTop .right_a:nth-child(2){margin-bottom:0.7%;}
.sectionBottom{position:relative;display:block;width:100%;background:#fff;height:.52rem;border-bottom:1px solid #ccc;padding:.11rem 0;}
.sectionBottom .arrow-bottom{position:absolute;left:50%;bottom:-.09rem;width:.26rem;height:.18rem;background:url("//mued3.jia.com/image/mobile/tuku/arrow-bottom.png") no-repeat center;background-size:.18rem;margin-left:-.09rem;transform:rotate(-180deg);-webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg);transition:transform .2s;-webkit-transtion:transform .2s;-moz-transtion:transform .2s;}
.sectionBottom .arrow-bottom.cur{transform:rotate(0deg);-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);}
.sectionBottom.bot-shadow{box-shadow:0 2px 2px #e5e5e5;border-bottom:none;}
.subBottom{display:none;background:#f9f9f9;padding:.12rem .09rem 0 .09rem;margin:0 .09rem;}
.subBottom a{float:left;width:20%;text-align:center;font-size:.1244rem;margin-bottom:.12rem;}
.sectionBottom .left_title{width:34.5%;height:.52rem;float:left;border-right:1px solid #f3f3f3;box-sizing:border-box;text-align:center;color:#666;}
.sectionBottom .right_cate{width:65.5%;float:left;font-size:.1244rem;height:.52rem;padding:0 .18rem;box-sizing:border-box;}
.sectionBottom .left_title .title{font-size:.154rem;line-height:.18rem;margin-top:.11rem;}
.sectionBottom .left_title .subtitle{font-size:.08rem;}
.sectionTop .leftBox.newleftBox .left_a{width:49%;float:left;margin-right:2%;}
.sectionTop .leftBox.newleftBox .left_a:last-of-type{margin-right:0;}
.sectionTop .leftBox.newleftBox .left_a .pic_title{bottom:62%;}
.sectionTop .leftBox.newleftBox .left_a:last-of-type .pic_title{bottom:76%;left:0;right:auto;}
.sectionBottom .right_cate a,.sectionBottom .right_cate span{margin-right:4%;width:30.66%;display:block;float:left;line-height:.26rem;}
.sectionBottom .right_cate a:nth-child(3n+3),.sectionBottom .right_cate span:nth-child(3n+3),.sectionTop .leftBox:nth-of-type(2n+2){margin-right:0;}
.sectionTop .pic_title{position:absolute;right:0;bottom:.09rem;font-size:.1rem;color:#fff;background:rgba(0,0,0,0.5);padding:.02rem .05rem;}
.tuku-more-pic .more-h5 {position:relative;margin:0 0.85rem;padding:.2rem 0 .1rem 0;text-align:center;}
.tuku-more-pic .more-h5 .more-txt{position:relative;z-index:5;padding:0 0.04rem;color:#333;font-size:0.14rem;background-color:#efefef;}
.tuku-more-pic .more-h5::after {content: "";position:absolute;left:0;right:0;top:60%;border-bottom:1px solid #ccc;}
.tuku-more-pic .pic_ul,.tuku-more-pic .hot_search{padding:0 .09rem;}
.tuku-more-pic .pic_ul li{width:25%;float:left;margin:.1rem 0;}
.tuku-more-pic .pic_ul .pic_a{width:.6rem;padding-top:.6rem;margin:0 auto;border-radius:50%;margin-bottom:.06rem;}
.tuku-more-pic .pic_ul .pic_title{font-size:.11rem;display:block;text-align:center;}
.tuku-more-pic .hot_search li a{float:left;font-size:.136rem;color:#3290e8;padding:.03rem .07rem;background:#fff;border-radius:.16rem;margin:0 .08rem .08rem 0;}
.loading-common{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background: url("//mued3.jia.com/image/mobile/new/loading.gif") no-repeat center center;background-size:.3rem auto;margin:0;z-index:101;}
/*图集切换tab*/
.tuku-images-list.tuku-list_v2{padding:0 0 .06rem .06rem;}
.tuku-images-list.tuku-list_v2 .list-ul{float:none;width:100%;}
.tuku-images-list.tuku-list_v2 .list-li{margin-top:0.06rem;width:48%;padding-right:0;float:left;box-sizing:border-box;}
.tuku-images-list.tuku-list_v2 .list-li:nth-child(2n+1){margin-right:1.8%;}
.tuku-images-list.tuku-list_v2 .list-li .list-a{width:100%;}
.tuku-stab{height:.35rem;margin-top:.06rem;text-align:center;margin-left:-.12rem;}
.tuku-stab .sub-tab{height:.35rem;display:inline-block;}
.tuku-stab .stab-a{font-size:.1422rem;display:block;float:left;height:.35rem;line-height:.35rem;text-align:center;padding:0 .16rem;background:#eee}
.tuku-stab .stab-a.cur{background:#dd0000;color:#fff;}
.tuku-stab .stab-a:first-child{border-radius:.2rem 0 0 .2rem;}
.tuku-stab .stab-a:last-child{border-radius:0 .2rem .2rem 0;}
.tt_fixed_btn{position:fixed;z-index:10;left:0;bottom:0;right:0;width:100%;height:.4rem;background:#fff;box-sizing:border-box;}
.tt_fixed_btn .jz_btn{width:49%;float:left;height:.38rem;line-height:.38rem;text-align:center;background:#faa125;color:#fff;font-size:.135rem;border-radius:.03rem;}
.tt_fixed_btn .jz_btn:last-child{background:#fa9325;margin-left:2%;}
.tt_fixed_btn.red .jz_btn{background:#ed5342;}
.tt_fixed_btn.red .jz_btn:last-child{background:#ed422f;}
.tt_fixed_btn.blue .jz_btn{background:#38bed9;}
.tt_fixed_btn.blue .jz_btn:last-child{background:#32b4da;}
.tt_fixed_btn.green .jz_btn{background:#30cb88;}
.tt_fixed_btn.green .jz_btn:last-child{background:#28b779;}
.tt_fixed_btn.purple .jz_btn{background:#bf5dd7;}
.tt_fixed_btn.purple .jz_btn:last-child{background:#b21fd6;}
.tt_fixed_btn.baidu_style_btn .jz_btn{width:49.5%;background: #28b779;}
.tt_fixed_btn.baidu_style_btn .jz_btn:last-child{background:#28b779;margin-left:1%;}
.tt_fixed_btn .jz_btn .icon{display:inline-block;width:.2rem;height:.2rem;background:url("//mued3.jia.com/image/mobile/toutiao/jz_icon.png") no-repeat;background-size:100%;vertical-align:top;margin:.1rem .06rem 0 0;}
.tt_fixed_btn .jz_btn:last-child .icon{background-position:0 100%;}
.tt_fixed_btn.jz_fixed{padding:.02rem .1rem;height:.44rem;border-top:1px solid #c7c7c7;}
.jz_fixed .sjBtn{display:block;font-size:.165rem;color:#fff;padding:.08rem 0;text-align:center;background:-webkit-linear-gradient(-117deg,#ff7a0e,#ffb10b);background:linear-gradient(-117deg,#ff7a0e,#ffb10b);border-radius:.2rem;}
.jz_fixed .sjBtn.yellow{background:-webkit-linear-gradient(-117deg,#ff7a0e,#ffb10b);background:linear-gradient(-117deg,#ff7a0e,#ffb10b);}
.jz_fixed .sjBtn.red{background:-webkit-linear-gradient(-128deg,#f4341f,#ff641f);background:linear-gradient(-128deg,#f4341f,#ff641f);}
.jz_fixed .sjBtn.blue{background:-webkit-linear-gradient(-117deg,#01aefb,#48dafc);background:linear-gradient(-117deg,#01aefb,#48dafc);}
.jz_fixed .sjBtn.green{background:-webkit-linear-gradient(-117deg,#00ceaa,#00efae);background:linear-gradient(-117deg,#00ceaa,#00efae);}
.jz_fixed .sjBtn.purple{background:-webkit-linear-gradient(-117deg,#9346fe,#c27efe);background:linear-gradient(-117deg,#9346fe,#c27efe);}

.getYusunBanner{display:block;padding:.12rem;}
.getYusunBanner.ztbanner{padding:0;}
/*新弹窗*/
.headline-box{display:none;position:absolute;left:50%;top:50%;width:90%; max-width:640px;padding:0 .2rem .12rem .2rem; background:#fff; border-radius:.05rem; -webkit-box-sizing:border-box; box-sizing:border-box;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%);z-index:99;}
.headline-box.IsIOS{display:block;transition:transform .3s cubic-bezier(.18,.89,.68,1.18);-webkit-transition:transform .3s cubic-bezier(.18,.89,.68,1.18);opacity:0;-webkit-transform:translateX(-50%) scale(0);-moz-transform:translateX(-50%) scale(0);transform:translateX(-50%) scale(0);}
.headline-box.IsIOS.cur{opacity:1;-webkit-transform:translateX(-50%) scale(1);transform: translateX(-50%) scale(1);-moz-transform:translateX(-50%) scale(1);}
.headline-box .banner-img{margin:0 -.12rem;border-radius:.05rem .05rem 0 0;padding-top:36%;overflow:visible;}
.headline-box .banner-img img{border-radius:.05rem .05rem 0 0;}
.headline-box .banner-show{margin:.2rem;padding-top:24%;}
.headline-box.android{position:fixed; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
.headline-box .title{font-size:.144rem;line-height:.26rem;text-align:center;padding-top:.14rem;color:#d00;}
#ttZx .title{font-size:.1244rem;text-align:center;line-height:.18rem;padding-top:.05rem;color:#3aa0e4;z-index:2;position:relative;}
.headline-box .big-title{font-size:.175rem;font-weight:bold;text-align:center;padding-top:.12rem;color:#3aa0e4;z-index:2;position:relative;background-image:-webkit-linear-gradient(left,#219df3,#219df3 25%,#219df3 40%,#3bc5e8 55%,#3bc5e8 70%,#3bc5e8);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.headline-box .sub_title{font-size:.11rem;margin-top:.05rem;}
.headline-box .counter-screen{background: #d2d1cc;padding:.05rem .04rem;position: relative;z-index: 2;margin:.14rem auto .23rem;border-radius:.03rem;}
.headline-box .counter-screen .screen-nexine{height:.4rem;padding:.07rem .05rem;border:3px solid #333;}
.counter-screen .screen-nexine span{float:right;display: block;width:.255rem;height:.4rem;background: url(//mued3.jia.com/image/mobile/toutiao/number.png) no-repeat 0 0/auto .4rem;}
.screen-nexine span.num{display: none;}
.screen-nexine span.num0{background-position: 1% 0;}
.screen-nexine span.num1{background-position: 11% 0;}
.screen-nexine span.num2{background-position: 23% 0;}
.screen-nexine span.num3{background-position: 33% 0;}
.screen-nexine span.num4{background-position: 45% 0;}
.screen-nexine span.num5{background-position: 56% 0;}
.screen-nexine span.num6{background-position: 67% 0;}
.screen-nexine span.num7{background-position: 78% 0;}
.screen-nexine span.num8{background-position: 89% 0;}
.screen-nexine span.num9{background-position: 100% 0;}
.counter-screen .screen-nexine em{float:right;font-size: .1244rem;line-height: .6rem;margin-left:.06rem;}
.headline-box .input-box,.sJresult .input-box,.comment-box,.lb-zx .input-box,.tou_sign_input{position:relative;padding:.08rem .1rem;line-height:.2rem;background:#f2f2f2;margin-bottom:.1rem;border-radius:.05rem;}
.headline-box .input-box:last-of-type{margin-bottom:.13rem;}
.headline-box .input-box:first-of-type{margin-top:.14rem;}
#ttSj .input-box:last-of-type{margin-top:.14rem;}
.headline-box .form-input,.headline-box .common-select,.sJresult .form-input,.sJresult .common-select,.comment-box .form-input,.lb-zx .form-input,.lb-zx .common-select,.tou_sign_input input{font-size:.1244rem;display:block;width:100%;height:.2rem;line-height:.2rem;background:#f2f2f2;border-radius:.05rem;border:none;}
.headline-box .headline-btn{display:block;width:100%;font-size:.136rem;padding:.08rem 0;text-align:center;line-height:.2rem;background:#ee2d1b;color:#fff;margin-bottom:.1rem;border-radius:.05rem;}
.headline-box .headline-btn:active,.btn_submit .btn-settlement:active,.comment-btn .btn-send:active,.applyJc .applyB:active,.tou_sign_btn:active{background:#d32312;}
.headline-box .surplus-num{font-size:.1126rem;text-align:center;}
.headline-box .surplus-num label{color:#ee2d1b;}
.headline-box .square-icon,.headline-box .arrow,.sJresult .square-icon,.sJresult .arrow,.lb-zx .square-icon,.lb-zx .arrow{position:absolute;right:.1rem;top:.08rem;font-size:.1245rem;}
.headline-box .arrow,.sJresult .arrow,.lb-zx .arrow{top:.12rem;right:.12rem;width:.07rem;height:.07rem;border-left:.01rem solid #666;border-bottom:.01rem solid #666;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);}
.headline-box .yusuan-box,.lb-zx .yusuan-box{width:100%;margin-bottom:.1rem;}
.headline-box .yusuan-box .input-box,.lb-zx .yusuan-box .input-box{width:31.6%;float:left;box-sizing:border-box;margin:0 2.6% 0 0;}
.headline-box .yusuan-box .input-box:last-of-type,.lb-zx .yusuan-box .input-box:last-of-type{margin-right:0;}
.headline-box .yusuan-box .input-box,.lb-zx .yusuan-box .input-box{width:31.6%;float:left;box-sizing:border-box;margin:0 2.6% 0 0;}
.headline-box .close {position:absolute;right:0;top:-0.5rem;width:.35rem;height:.35rem;background:url(//mued3.jia.com/image/mobile/double12/close.png) 0 0 no-repeat;background-size:100%;z-index:2;}
.hdjr_sx,.qwsj_lx{margin-top:.14rem;}
.headline-box .tg_ul{padding:.08rem .08rem .06rem .2rem;}
.headline-box .tg_li{font-size:.11rem;color:#333;height:.21rem;line-height:.21rem;margin-right:2%;border-radius:.1rem 0 0 .1rem;}
.headline-box .tg_li:last-child{margin-right:0;}
.headline-box .tg_li .icon{display:inline-block;width:.14rem;height:.15rem;background:url("//mued3.jia.com/image/mobile/toutiao/tg_icon.png") no-repeat;background-size:100%;vertical-align:top;margin:.03rem .03rem 0 0;}
.headline-box .tg_li:nth-child(2) .icon{background-position:0 50%;}
.headline-box .tg_li:last-child .icon{background-position:0 100%;}
.headline-box .common-select,.sJresult .common-select{margin-left:-.05rem;}
#ttZx:after{content:'';position:absolute;top:0;left:0;width:100%;height:.9rem;background:url(//mued3.jia.com/image/mobile/toutiao/zxbm-bg.jpg) no-repeat;background-size:100%;border-radius:.05rem .05rem 0 0;}
/*装修报价成功页*/
.jcxj_result{padding:.16rem 0 .08rem 0;text-align: center;background:#fff;border-bottom:1px solid #fafafa;margin-bottom:.12rem;}
.jcxj_result .result_icon{display:inline-block;width:.57rem;height:.69rem;background:url("//mued3.jia.com/image/mobile/toutiao/jc_result.png") no-repeat;background-size:100%;}
.jcxj_result .suc_title{font-size:.14rem;}
.jcxj_result .suc_title label,.jcxj_result .de_suc_title label{font-size:.16rem;color:#dd0000;}
.jcxj_result .suc_title .price{color:#ff3300;font-size:.09rem;font-weight:bold;}
.jcxj_result .suc_title .price label{color:#ff3300;font-size:.2rem;font-weight:bold;}
.jcxj_result .de_suc_title{font-size:.095rem;color:#999;}
.jcxj_result .count_result{display:none;padding:.14rem .14rem 0 .14rem;}
.jcxj_result.zxxj_result{padding:.16rem 0 .14rem 0;margin-bottom:.1rem;}
.succ_detail_wrap.show{margin-bottom:.1rem;}
.zx-price-success{ margin-bottom: 0.3rem;}
.zx-price-success .budget-pic .title{position:relative;background:#fff;border-bottom:none;padding:.12rem .14rem 0 .14rem;box-sizing:border-box;}
.zx-price-success .budget-pic .title:after{content:'';position:absolute;top:50%;left:.12rem;right:.12rem;height:1px;background:#ccc;margin-top:.12rem;}
.zx-price-success .budget-pic .title span{position:relative;font-size:.2rem;color:#333;background:#fff;padding:0 .09rem;z-index:2;}
.jcxj_result .area_result_icon{display:inline-block;width:.63rem;height:.63rem;background:url("//mued3.jia.com/image/mobile/toutiao/zxcg_hl.png") no-repeat;background-size:100%;}
.count_result{padding:0.1rem 0.12rem 0.2rem;}
.count_result h3{height:0.55rem;line-height:0.55rem;font-size:0.12rem;text-align:center;background: url("//mued3.jia.com/image/mobile/zhuangxiu/grid_bg.jpg");margin-bottom:0.05rem;}
.count_result h3 em{font-size: 0.25rem;color: #ff3300;}
.count_result table{background: #fafafa;text-align: center;}
.count_result table td{border:1px solid #e6e7e8;font-size: 0.11rem;height:0.52rem;padding:0 1%;vertical-align: middle;}
.count_result table td p{text-align: left;padding:0 0.05rem;}
.count_result table td span em{font-size: 0.16rem;color: #f30;padding:0 0.05rem;}
.budget-pic h3{text-align:center;font-size:0.15rem;color:#666666;width:100%;height:0.425rem;line-height:0.425rem;letter-spacing: .006rem;background: #eee;border-bottom: .01rem solid #e5e5e5;}
.zxbj_succ_money{padding:0.15rem 2.8% 0;font-size: 0.12rem;}
.zxbj_succ_money dl dt span{color: #ff3300;font-size: 0.21rem;font-family: "Arial";}
.zxbj_succ_money dl dt span i{font-size: 0.12rem;font-family: "微软雅黑";}
.zxbj_succ_money dl dd{margin-top:0.1rem;position: relative;}
.zxbj_succ_money dl dd a{padding: 0.07rem 0.14rem;background: #d00;border-radius: 0.04rem;color: #fff;position: absolute;right: 0;top:0;}
.zxbj_succ_money p.tishi{margin-top:0.15rem;font-size: 0.1rem;color: #bbb;margin-bottom:0.03rem;}
.zxbj_succ_detail .succ_open_all{display: block;color:#007ff5;text-align: center;height: 0.14rem;line-height: 0.14rem;padding-bottom:0.12rem;margin-top: -0.06rem;}
.zxbj_succ_detail .succ_open_all i{display: inline-block;width:0.06rem;height:0.06rem;margin-left:0.1rem;position:relative;top:-0.03rem;border:0.01rem solid;border-color:transparent transparent #007ff5 #007ff5;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transition-duration:0.5s;-moz-transition-duration:0.5s;-o-transition-duration:0.5s;transition-duration:0.5s;}
.zxbj_succ_detail .succ_open_all i.open{-webkit-transform:rotate(-225deg);-moz-transform:rotate(-225deg);-ms-transform:rotate(-225deg);-o-transform:rotate(-225deg);transform:rotate(-225deg);top:0.02rem;}
.succ_detail_wrap{height: 0;overflow: hidden;transition: height .3s ease;-moz-transition: height 2s ease;-webkit-transition: height .3s ease;-o-transition: height .3s ease;}
.succ_detail_wrap dl{border-top: 1px solid #e4e4e4;}
.succ_detail_wrap dl dt{padding:0 3%;height: 0.35rem;line-height: 0.35rem;background: #fff;font-size: 0.12rem;cursor: pointer;position: relative;}
.succ_detail_wrap dl dt span.span1{color: #333;display: inline-block;width: 0.95rem;}.succ_detail_wrap dl dt span.span1 i{color: #999;}
.succ_detail_wrap dl dt span.span2{color: #ff3300;}.succ_detail_wrap dl dt span.span2 i{font-size: 0.1rem;}
.succ_detail_wrap dl dt span.span3{display: block; position: absolute; right: .124rem; top: .178rem; width: .115rem; height: .065rem; background: url(//mued3.jia.com/image/zhuangxiu/finish_index/arrowDown.png) no-repeat; background-size: 100%;-webkit-transition-duration:0.5s;-moz-transition-duration:0.5s;-o-transition-duration:0.5s;transition-duration:0.5s;}
.succ_detail_wrap dl dt span.span3.open{-webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg);-ms-transform:rotate(-180deg);-o-transform:rotate(-180deg);transform:rotate(-180deg);top:0.15rem;}
.succ_detail_wrap dl dd{transition: height .3s ease;-moz-transition: height 2s ease;-webkit-transition: height .3s ease;-o-transition: height .3s ease;height: 0;overflow: hidden;background: #f2f2f2;color: #666;}
.succ_detail_wrap dl dd.show{border-bottom:none;}
.succ_detail_wrap dl dd.show,.succ_detail_wrap.show{height: auto;}
.succ_detail_wrap dl dd table th,.succ_detail_wrap dl dd table td{border:0.01rem solid #ebebeb;font-size: 0.12rem;text-align: center;line-height: 0.26rem;}
.succ_detail_wrap dl dd table th:first-child,.succ_detail_wrap dl dd table td:first-child{text-align: left;padding:0.06rem 0.1rem;vertical-align: middle;line-height: 0.16rem;}
.zxbj_succ_foot a.baojia_succ_bm img{display: block;border: none;}

.page-flip{overflow:hidden;background:#fff;padding:.08rem 11%;border-top:1px solid #e9e9e9;}
.page-flip ul li{position:relative;display:block;float:left;width:34.3%;text-align:center;font-size:.13rem;height:.28rem;line-height:.28rem;background:#ee2d1b;}
.page-flip ul li a{display:block;color:#fff;}
.page-flip ul li:nth-child(2){width:31.4%;color:#666;background:#fff;}
.page-flip ul li a.cur{background:#f0f0f0;border:1px solid #dfdfdf;color:#666;box-sizing:border-box;}
.page-flip .pagination-pages{position:absolute;width:100%;height:100%;left:0;top:0;opacity:0;}
.page-flip li:nth-child(2) a{display:block;color:#666;}
.page-flip li a .more{color:#ee2d1b;}
.tt-crumbs{background:#fff;padding:.14rem .1rem;font-size:.12rem;color:#ccc;}
.tt-crumbs a{color:#ccc;}
.tt-crumbs .crumbs-title{margin:0 .05rem;}
.recommendSec{background:#fff;}
.recommendSec .title{position:relative;background:#fff;}
.recommendSec .title:before{content:'';position:absolute;left:0;top:50%;width:100%;height:1px;background:#ebebeb;}
.recommendSec .title span{position:relative;padding:0 .12rem;font-size:.15rem;background:#fff;z-index:2;}
.recommend-list{padding:0 .12rem ;}
.recommend-list .recommend-a{float:left;font-size:.126rem;background:#e6e6e6;padding:.01rem .05rem;margin:.14rem .05rem 0 0;border-radius:.2rem;}
.themeSec{background:#fff;padding-bottom:.14rem;}
.themeSec .title{padding:.14rem .12rem 0 .12rem;font-size:.15rem;}
.more-recommend{font-size:.11rem;color:#ee2d1b;margin-top:.05rem;}
.more-recommend .icon{display:inline-block;width:.17rem;height:.14rem;background:url("//mued3.jia.com/image/mobile/tuku/arrow-more.png") no-repeat;background-size:100%;vertical-align:top;margin-top:.01rem;}
.themeSec .alpha-title{padding:.1rem .12rem 0 .12rem;font-size:.126rem;}
.alpha-title .alpha{font-size:.126rem;color:#ee2d1b;width:.33rem;height:.33rem;line-height:.33rem;text-align:center;background:#f8e3d5;border-radius:100%;}
.themeSec .alpha-title .more-recommend{margin-top:.07rem;}
.tk_crumb_hide{display:none;background:#fff;padding-bottom:.6rem;}
.zxbk-zxtc-pinch{cursor:pointer;width: 0.3rem;height: 0.29rem;background: url("//mued3.jia.com/image/mobile/zhuangxiu_baike/zxbk-zxtc-zk_03.png") 0 0 no-repeat;background-size: 100% auto;-webkit-background-size: 100% auto;-moz-background-size: 100% auto;position: absolute;bottom:0.8rem;right: 0.07rem;z-index: 100;}
.zxbk-zxtc-pinch.back{background-position: 0 100%;bottom:.8rem;right: 0.18rem;}
.recommend-mt{padding:.1rem .12rem 0 .12rem;}
.recommend-mt .recommend-a{position:relative;display:block;font-size:.126rem;color:#999;text-decoration:underline;margin-bottom:.1rem;padding-left:.15rem;}
.recommend-mt .recommend-a:before{content:'';position:absolute;top:50%;left:0;margin-top:-0.03rem;width:.06rem;height:.06rem;background:#e6e6e6;}
.tk_img_info{position:relative;padding:.05rem .12rem;font-size:.126rem;line-height:2;}
.tk_img_info .content{color:#999;margin-left:.1rem;}
.tk_img_info .more-img-decor{display:none;position:absolute;right:.12rem;bottom:0;color:#dd742e;text-decoration:underline;}
.tk_img_info .deco-hide{padding-right:.25rem;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2; -webkit-box-orient:vertical;}
/*app新人领券*/
.newPersonPop{display:none;position:absolute;z-index:1008;left:50%;top:0;width:100%;height:100%; background:rgba(0,0,0,.7);max-width:640px;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);}
.newPersonPop .pop-wrap{position:absolute;left:6.25%;top:50%;width:87.5%;padding-top:116%;background:url("//mued3.jia.com/image/mobile/toutiao/xrhb_bg_one.jpg");background-size:100%;border-radius:.05rem;box-sizing:border-box;}
.newPersonPop .xr-phone{position:absolute;left:16%;top:44%;width:68%;height:10%;font-size:.14rem;text-align:center;background:#f5ecbd;box-sizing:border-box;border-radius:.2rem;}
.newPersonPop .xr-coupon-btn{position:absolute;bottom:26%;left:50%;width:.7rem;height:.7rem;margin-left:-.35rem;text-indent:-999px;}
.newPersonPop .close{position:absolute;right:.1rem; top:.15rem;width:.22rem;height:.22rem; background:url("//mued3.jia.com/image/mobile/toutiao/hb_close.png") 0 0 no-repeat;background-size:100%;}
/*详情页新人红包入口*/
.zx_xrhb_enter{display:none;position:fixed;right:.14rem;bottom:2.6rem;width:.4rem;height:.5rem;background-size:100%;z-index:10;}
.zx_xrhb_enter .hb_icon{position:relative;display:block;width:.4rem;height:.5rem;background:url(//mued3.jia.com/image/mobile/toutiao/zx_red_packet.png) no-repeat;background-size:100%;z-index:5;}
.zx_xrhb_enter.shake{right:0;width:.94rem;height:.85rem;}
.zx_xrhb_enter.shake .hb_icon{width:.94rem;height:.85rem;background:url("//mued3.jia.com/image/mobile/toutiao/hb_shake.gif") no-repeat;background-size:100%;}
.zx_xrhb_close{display:none!important;position:fixed;right:.05rem;bottom:1.8rem;width:.2rem;height:.2rem; background:transparent url("//mued3.jia.com/image/mobile/double12/close.png") 0 0 no-repeat; background-size:100%;border-radius:100%;z-index:12;}
/*红包优化*/
.newPersonPop .coin-bg{display:none;position:absolute;top:0;left:0;bottom:0;width:100%;height:100%;background:url("//mued3.jia.com/image/mobile/tuku/coin-down.gif") no-repeat;background-size:100%;z-index:9;}
.newPersonPop .pop-wrap h3,.newPersonPop .pop-wrap .content,.newPersonPop .pop-wrap .tips,.zx_xrhb_enter .coin_box{display:none;}
.newPersonPop .xr-phone:-moz-placeholder{color:#c2a08f;}
.newPersonPop .xr-phone::-webkit-input-placeholder{color:#c2a08f;}
/*搜索*/
.search-area{width:100%;padding:.06rem .12rem;background:#fff;margin-bottom:.06rem;box-sizing:border-box;}
.search-area form{position: relative;}
.search-area form::before{content:'';display:inline-block;width:.12rem;height:.12rem;background:url(//mued3.jia.com/image/mobile/activity/win-port-search.png) no-repeat;background-size:100%;position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);left:.08rem;}
.search-area .searchClear{display:inline-block;width:.13rem;height:.13rem;background:url(//mued3.jia.com/image/mobile/activity/write-close.png) no-repeat;background-size:100%;position:absolute;top:50%;right:.1rem;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.search-area input.search{width:100%;background: #f5f5f5;border-radius:.05rem;font-size:.1244rem;padding:0.07rem 0.1rem 0.07rem 0.28rem;}
.search-null{text-align:center;padding-top:.25rem;min-height:2.42rem;box-sizing:border-box;}
.search-null img{width:.9rem;height:.96rem;}
.search-null .null-title{font-size:.1126rem;color:#666;margin-top:.1rem;}
.back-btn{display:block;background:#fff;color:#666;font-size:.1422rem;text-align:center;padding:.045rem 0; border-radius:.2rem;margin:.27rem auto 0 auto;width:1.78rem;border:1px solid #e4e4e4;}
.search-null + .recommendSec{padding:.12rem 0;}
.search-area + .tuku_index_section{padding-top:.06rem;}

.tuku-images-list .pb.list-li{width:100%;}
.tuku-images-list #tk_list_theme .pb.list-li{width:48%;}
.list-ul .list-li .sub-menu-li{ float:left; width:33.33%;}
.list-ul .list-li .sub-menu-a{ display:block; margin-right:0.05rem; margin-top:0.05rem; line-height:0.24rem; text-align:center; font-size:0.11rem; color:#666; border:1px solid #dedede; border-radius:0.04rem;height:.24rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.list-ul .list-li .sub-menu-li:nth-child(3n+3) .sub-menu-a{margin-right:0;}
.commonLoading{display:none!important;}
.tuku-images-list:not(.tuku-list_v2) .list-li.tg_ad,.tuku-images-list:not(.tuku-list_v2) .list-li.tg_sj,.tuku-images-list:not(.tuku-list_v2) .list-li.tg_zx{display:none!important;}
@-webkit-keyframes searchin {
	0% {
		-webkit-transform: scale(3);
		-moz-transform: scale(3);
		-ms-transform: scale(3);
		-o-transform: scale(3);
		transform: scale(3);
		opacity: 0
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}
@-moz-keyframes searchin {
	0% {
		-webkit-transform: scale(3);
		-moz-transform: scale(3);
		-ms-transform: scale(3);
		-o-transform: scale(3);
		transform: scale(3);
		opacity: 0
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}
@keyframes searchin {
	0% {
		-webkit-transform: scale(3);
		-moz-transform: scale(3);
		-ms-transform: scale(3);
		-o-transform: scale(3);
		transform: scale(3);
		opacity: 0
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}
@-webkit-keyframes searchout {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 1;
		display:block;
	}
	100% {
		-webkit-transform: scale(3);
		-moz-transform: scale(3);
		-ms-transform: scale(3);
		-o-transform: scale(3);
		transform: scale(3);
		opacity: 0;
		display:none;
	}
}
@-moz-keyframes searchout {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 1;
		display:block;
	}
	100% {
		-webkit-transform: scale(3);
		-moz-transform: scale(3);
		-ms-transform: scale(3);
		-o-transform: scale(3);
		transform: scale(3);
		opacity: 0;
		display:none;

	}
}
@keyframes searchout {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 1;
		display:block;
	}
	100% {
		-webkit-transform: scale(3);
		-moz-transform: scale(3);
		-ms-transform: scale(3);
		-o-transform: scale(3);
		transform: scale(3);
		opacity: 0;
		display:none;

	}
}

/*COP弹窗*/
.designer-popup{display: none; width: 2.48rem; position: absolute; top: 30%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); left: 50%; background: #fff; padding: .29rem .14rem 0.2rem 0.14rem; box-sizing: border-box; -webkit-box-sizing: border-box; z-index: 100; border-radius: .05rem;}
.designer-popup h2{font-size: .142rem; color: #514a43; font-weight: bold; text-align: center; line-height: 1; margin-bottom: 0.12rem;}
.designer-popup .layer-line{height: .17rem; line-height: .17rem; padding: .1rem; border: 1px solid #e4e4e4; border-radius: .05rem; margin-bottom: .08rem; position: relative;}
.designer-popup .layer-line input{display: block; width: 100%; height: .17rem; line-height: .17rem; font-size: 0.12rem;}
.designer-popup a.popup-but{display: block; height: .37rem; line-height: .37rem; background: #ee2d1b; text-align: center; font-size: .128rem; color: #fff; border-radius: .05rem;}
.designer-popup .layer-line label{font-size: .12rem; color: #999;}
.designer-popup .layer-line .city-down{display: block; position: absolute; right: .09rem; top: .12rem; width: 0.06rem; height: 0.06rem; border: 0.01rem solid; border-color: transparent transparent #999 #999; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg);}
.designer-close{display: block; width: .13rem; height: .13rem; background: url(http://mued3.jia.com/image/zhuangxiu/gsk-close.png) no-repeat 0 0/100%; position: absolute; right: .1rem; top: .1rem;}
.popup-copsuc{text-align: center;}
.popup-copsuc i{display: block;width: 0.43rem;height: 0.43rem;background:url(http://mued3.jia.com/image/mobile/popup-success.png);background-size: 100%;margin:0 auto 0.15rem auto;}
.popup-copsuc h3{font-size: 0.145rem;color:#333;}
.popup-copsuc p{display: inline-block;width: 1.56rem;margin-top:.05rem;font-size: 0.11rem;color: #999;}
.popup-offer .layer-line input{float: right; width: .8rem; font-size: .12rem; color: #333; margin-right: .14rem; margin-top: .011rem; text-align: right;}
.popup-offer .layer-line em{position: absolute; right: .03rem; color: #999;}
.popup-offer .offer-taocan{float: right; width: .8rem; font-size: .12rem; color: #333; margin-right: .14rem; margin-top: .011rem; text-align: right;}
.popup-offer .layer-line .cop-mobile{width: 100%; text-align: left; margin:0;}
.popup-offer .tc-select{display: none; font-size: .12rem; color: #333; text-align: right; width: 100%; position: absolute; left: 0; top: .33rem; border:1px solid #e6e6e6; box-sizing: border-box; z-index: 100; border-bottom: 0; background: #fff;}
.popup-offer .tc-select .tc-opt{padding:.08rem .23rem 0.08rem 0; border-bottom: 1px solid #e6e6e6;}
.zxbj-result{display: none; width: 3.06rem; height: 2.1rem; position: absolute; left: 50%; top: 30%; background: url(http://mued3.jia.com/image/mobile/zhuangxiu/zxbj-result-bg.png); background-size: 100%; text-align: center; padding-left: 0.08rem; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 100; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);}
.zxbj-result h2{margin: 0.28rem 0 0.15rem 0; color: #fff; font-size: 0.17rem;}
.zxbj-result a{display: block; width: 0.15rem; height: 0.15rem; background: url(http://mued3.jia.com/image/mobile/zhuangxiu/zxbj-result-close.png); background-size: 100%; position: absolute; top: .1rem; right: .2rem;}
.zxbj-result .see-result{display: inline-block; width: 2.25rem; height: 0.74rem; border-radius: 5px; background: #fff; margin-bottom: 0.1rem;}
.zxbj-result p{font-size: 0.13rem; color: #fff;}
.zxbj-result .see-result p{font-size: 0.13rem; color: #333; line-height: 0.74rem;}
.zxbj-result .see-result p span{font-size: 0.38rem; color: #f73737; font-weight: 600;}
/*懒加载图片*/
.tuku-images-list img.lazy{min-height:1.13rem;}