@charset "UTF-8";
@import url("reset.css");

body, html {
    background-color: #eaeaea;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
    margin: 0;
    font-weight: normal;
}

#banner {
    width: 100%;
    overflow: hidden;
    position:relative;
}
#banner .swiper-slide {
    position:relative;
    text-align:center;
}
#banner img {
    max-width: 100%;
}
.gallerytitle {
text-align: center;
font-size: 1em;
height: 42px;
line-height: 42px;
color: #fafafa;
position: absolute;
left: 0;
bottom: 0;
right: 0;
font-weight: normal;
text-shadow: 1px 1px 1px #000;
/* background-color: rgba(21,20,20,0.5); */
background-color: rgba(0,0,0,0);
background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.7));
background: -webkit-gradient(linear,top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.7)));
background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.7));
background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.7));
}
.pagination {
    position: relative;
    z-index: 999;
    text-align: center;
    margin-top: -19px;

}

.pagination span{
    margin: 0 5px;
    margin-bottom: 4px;
}

.pagination span.swiper-pagination-bullet{
    background-color: rgba(255,255,255,0.8);
}

.pagination span.swiper-pagination-bullet-active{
    background: #007aff;
}

.boxheight {
    height: 30px;
}

/*************************************************************************************/
.top {
    height: 48px;
    border-bottom: 2px solid #cacaca;
    padding: 0 10px;
    background-color: #fff;
}

.top-left {
    width: 60%;
}

.top-left .logo {
    float: left;
    width: 50%;
    height: 46px;
}

.top-left .logo img {
    width: 100%;
    max-width: 100%;
    padding-top: 6px;
}

.top-left .top-city {
    float: left;
    width: 50%;
    position: relative;
}

.top-left .top-city li.active {
    width: 70%;
    height: 24px;
    border-radius: 12px;
    background-color: #007cf0;
    text-align: center;
    line-height: 24px;
    margin-top: 12px;
    margin-left: 15%;
}

.top-left .top-city li.active a {
    color: #fff;
    display: block;
    width: 100%;
}

.top-left .top-city .top-city-open {
    width: 60px;
    position: absolute;
    top: 42px;
    left: 22px;
    z-index: 999;
}

.top-left .top-city .top-city-open li {
    height: 28px;
    line-height: 28px;
    width: 50px;
    display: block;
    background-color: #fff;
}

.top-left .top-city .top-city-open li a {
    color: #007cf0;
    display: block;
    text-align: center;

}

.top-right {
    width: 40%;
}

.top-right .top-tel {
    background: url(./img/toptel.png) no-repeat center center;
    background-size: 100%;
    display: block;
    float: right;
    width: 14px;
    height: 16px;
    margin-top: 14px;
}

.top-right a {
    display: block;
    color: #007cf0;
    height: 46px;
    line-height: 46px;
    text-align: right;
    padding-left: 5px;
    float: right;
}

.index-ov {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
}

.index-w {
    width: 100%;
}

.index-w ul {
    width: 48.6%;
}

.index-w .nav-l li {
    width: 100%;
    margin-right: 4%;
    margin-bottom: 10px;
}

.index-w .nav-l li a, .index-w .nav-r a {
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: block;
}

.index-w .nav-r li {
    width: 100%;
    margin-bottom: 10px;
}

.index-w .nav-l li a.warp1, .index-w .nav-r a.warp1 {
    height: 95px;
    padding-top: 40px;
}

.index-w .nav-l li a.warp2, .index-w .nav-r a.warp2 {
    height: 65px;
    line-height: 65px;
}

.index-w .nav-l li i, .index-w .nav-r li i {
    width: 60%;
    height: 40px;
    display: block;
    margin: 0 auto;
}

.index-w .nav-l li i.index-about {
    background: url(./img/ico-aboutus.png) no-repeat center center;
    background-size: 44%;
    margin-bottom: 5px;
}

.index-w .nav-l li i.index-contact {
    background: url(./img/ico-contact.png) no-repeat center center;
    background-size: 40%;
    margin-bottom: 5px;
}

.index-w .nav-l li i.index-job {
    float: left;
    width: 30%;
    height: 64px;
    background: url(./img/ico-join.png) no-repeat center right;
    background-size: 64%;
}

.index-w .nav-l li .warp2 p, .nav-r-p {
    float: left;
    margin-left: 10%;
}

.index-w .nav-r li i.index-flow {
    float: left;
    width: 30%;
    height: 64px;
    background: url(./img/ico-process.png) no-repeat center right;
    background-size: 64%;
}

.index-w .nav-r li i.index-factor {
    background: url(./img/ico-factory.png) no-repeat center center;
    background-size: 40%;
}

.index-w .nav-r li i.index-app {
    background: url(./img/ico-appdown.png) no-repeat center center;
    background-size: 44%;
}

.index-w .nav-l li:nth-child(1) {
    background-color: #007cf0;
    height: 140px;
}

.index-w .nav-l li:nth-child(2) {
    background-color: #1ad0c6;
    height: 65px;
}

.index-w .nav-l li:nth-child(3) {
    background-color: #906cf7;
    height: 140px;
}

.index-w .nav-r li:nth-child(1) {
    background-color: #3ebc6d;
    height: 65px;
}

.index-w .nav-r li:nth-child(2) {
    background-color: #f5be3c;
    height: 140px;
}

.index-w .nav-r li:nth-child(3) {
    background-color: #4f9ff0;
    height: 140px;
}

.foot p {
    color: #808080;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin: 20px 0;
}

.nav-bottom {
    position: fixed;
    height: 36px;
    line-height: 36px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #4f9ff0;

}

.nav-bottom li {
    width: 29.3%;
    float: left;
    text-align: center;
}

.nav-bottom li a {
    color: #fff;
    display: block;
    width: 100%;
    height: 42px;
}

.nav-bottom .home {
    width: 10%;
    height: 36px;
    border-right: 1px solid #72b2f3;
    background: url(./img/ico-home.png) no-repeat center center;
    background-size: 64%;
}

.nav-bottom .booking, .nav-bottom .counseling {
    border-left: 1px solid #3f7fc0;
    border-right: 1px solid #72b2f3;
}

.nav-bottom .personal {
    border-left: 1px solid #3f7fc0;
}

.nav-bottom li.active {
    background-color: #007cf0;
}

.warp-top {
    padding: 0 10px;
    background-color: #007cf0;
    height: 46px;
}

.warp-top-fl {
    width: 15%;
    height: 46px;
    line-height: 44px;
}

.warp-top-fl a {
    color: #fff;
    height: 46px;
    display: block;
    font-size: 12px;
}

.warp-top-fl a i {
    background: url(./img/iconfont-fanhui.png) no-repeat left center;
    background-size: 44%;
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 14px;
}

.warp-top-cn {
    width: 70%;
    text-align: center;
    line-height: 44px;
    font-size: 16px;
    color: #fff;
}

.warp-top-menu {
    width: 15%;
    height: 46px;
}

.warp-top-menu a.warp-top-menu-ico {
    width: 100%;
    display: block;
    height: 46px;
}

.warp-top-menu a.warp-top-menu-ico i {
    background: url(./img/iconfont-caidan.png) no-repeat right center;
    background-size: 100%;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 14px;
}

.warp-top-menu .warp-top-menu-list {
    position: absolute;
    z-index: 999;
    width: 30%;
    right: 0;
    padding-bottom: 10px;
    background-color: #007cf0;
    top: 54px;
}

.warp-top-menu .warp-top-menu-list:after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border: 8px dashed transparent;
    z-index: 1;
    border-width: 0 8px 8px;
    border-bottom-color: #007cf0;
    top: -5px;
    right: 15px;
}

.warp-top-menu .warp-top-menu-list li {
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-bottom: 1px solid #1a89f2;
}

.warp-top-menu .warp-top-menu-list li a {
    color: #fff;
    display: block;
    width: 100%;
    height: 36px;
}

.warp-top-menu .warp-top-menu-list li a:after {
    color: #fffc00;
}

.case-screen {
    height: 32px;
    background-color: #fff;
}

.case-screen .case-screen-ov {
    width: 100%;
    overflow: hidden;
}

.case-screen .case-screen-list {
    width: 102%;
    margin: 0 auto;
}

.case-screen .case-screen-list li {
    width: 24.5%;
    float: left;
    border-right: 1px solid #f5f5f5;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    position: relative;
}

.case-screen .case-screen-list li:after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    z-index: 1;
    top: 45%;
    right: 12px;
    border-width: 4px 4px 0;
    border-style: solid;
    border-color: #007cf0 transparent; /*灰 透明 透明 */
}

.case-screen .case-screen-list li a {
    color: #007cf0;
    display: block;
    height: 32px;
    width: 100%;
}

.screen-list-ov {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 9999;
}

.screen-list-w {
    width: 95%;
    overflow: hidden;
    margin: 0 auto;
}

.screen-list {
    width: 105%;
    margin-top: 10px;

}

.screen-list li {
    float: left;
    width: 22%;
    margin-right: 3%;
    height: 26px;
    line-height: 26px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.screen-list li a {
    font-size: 12px;
    color: #007cf0;
    display: block;
    width: 100%;
    line-height: 26px;

}

.case-list, .team-list {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
}

.case-list-w {
    width: 108%;
}

.case-list ul, .team-list ul {
    width: 100%;
    margin: 0 auto;
}

.case-list li {
    float: left;
    width: 45%;
    margin-right: 4%;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 10px;

}

.case-list .case-list-pic img {
    width: 100%;
    max-width: 100%;
}

.case-list li h3 {
    font-size: 16px;
    color: #555;
    padding: 10px;
    height: 32px;
    overflow: hidden;
}

.case-list li p, .team-list li p {
    color: #a2a2a2;
    padding: 0 10px;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
}

.case-list li a, .team-list li a {
    display: block;
    width: 100%;
    background-color: #fff;
    height: 100%;
    position: relative;
    padding-bottom: 10px;
}

.case-list li i {
    background: url(./img/casebg.png) no-repeat bottom center;
    background-size: 100%;
    display: block;
    width: 100%;
    height: 20px;
    margin-top: -13px;
}

.page {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.page a{
    display: inline-block;
    padding: 0 10px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: #fff;
    color: #555;
    margin: 0 5px 5px 0
}

.page span {
    display: inline-block;
    padding: 0 10px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: #007cf0;
    color: #fff;
    margin: 0 5px 5px 0
}

.content {
    margin-left: 10px;
    margin-right: 10px;
    color: #555;
    margin-top: 10px;
}

.content h3 {
    font-size: 16px;
    line-height: 28px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    color: #007cf0;
}

.content p {
    margin-bottom: 10px;
    line-height: 20px;
}

.content img {
    width: 100%;
    max-width: 100%;
}

.team-list-w {
    width: 106%;
}

.team-list li {
    float: left;
    width: 45%;
    margin-right: 4%;
    margin-bottom: 10px;
    background-color: #fff;
}

.team-list li h3 {
    font-size: 14px;
    color: #555;
    padding: 10px;
    height: 6px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis
}

.team-list li p {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis
}

.team-list-pic {
    padding: 10px;
}

.team-list-pic img {
    width: 100%;
    max-width: 100%;

}

.team-content {
    margin: 10px;
}

.team-pic {
    text-align: center;
}

.team-content h3 {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    line-height: 24px;
}

.team-content h4 {
    line-height: 24px;
    color: #007cf0;
}

.team-content p {
    color: #555;
    line-height: 24px;
}

.team-content ul {
    margin-top: 15px;
}

.team-content ul li {
    line-height: 24px;
    color: #555;
}

.team-content ul li strong {
    font-weight: bold;
}

.case-reco {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden;
}

.case-reco h3 {
    line-height: 26px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    color: #007cf0;
    font-size: 16px;
}

.case-reco-w {
    width: 105%;
}

.case-reco li {
    float: left;
    width: 45%;
    margin-right: 4%;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.case-reco li a {
    display: block;
    width: 100%;
}

.case-reco li img {
    max-width: 100%;
    width: 100%;
}

.case-reco li name {
    position: relative;
    font-size: 12px;
    color: #fff;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    margin-top: -24px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.form-warp {
    margin: 10px;
}

.form-warp img{

    width: 100%;
    max-width:100%;
}


.form-warp label {
    display: block;
    margin-bottom: 15px;
}

.form-warp label span {
    text-align: right;
    color: #898989;
    display: inline-block;
    width: 18%;
    line-height: 34px;
    float: left;

}

.form-warp label i {
    color: #ff0000;
    line-height: 34px;
    display: inline-block;
    height: 34px;
    float: left;

}

.form-warp label input, .form-warp label textarea {
    border: 1px solid #ccc;
    height: 32px;
    text-indent: 5px;
    width: 76%;
    float: left;
    padding: 0px;
    background-color: #fff;
    -webkit-appearance: none;
}

.form-warp label textarea {
    height: 79px;
    width: 75%;
}

.form-warp label .sex {
    float: left;
    line-height: 34px;
    color: #898989;
    padding-left: 30px;
}

.form-warp label input::-webkit-input-placeholder {
    font-family: "microsoft yahei";
}

.form-warp label input:-moz-placeholder {
    font-family: "microsoft yahei";
}

.form-warp label input:-ms-input-placeholder {
    font-family: "microsoft yahei";
}

.form-warp label .man,.form-warp label .girl{
    float: left;
    width: 30%;
}

.form-warp label input[type=radio].radio {
    opacity: 0;
    display: inline-block;
    height: 28px;
    width: 20px;
    position: absolute;
    left: 0px;
    z-index: 9999;
}


.form-warp label input[type=radio].radio:checked + .radio {
  background: url("./img/check_at.png") no-repeat center center;
  background-size: 100%;
}

 .form-warp label i.radio {
    background: url("./img/checkde.png") no-repeat center 8px;
    width: 20px;
    height: 34px;
    background-size: 100%;
    position: absolute;
    left: 0;
}


.form-warp label em {
    float: left;
    line-height: 32px;
    color: #007cf0;
}

.form-warp .submit {
    -webkit-appearance: none;
    width: 76%;
    float: left;
    border: 0px;
    height: 32px;
    background-color: #007cf0;
    color: #fff;
    margin-left: 18%;
    font-family: "microsoft yahei";
}

.personal-bg {
    background: url("./img/bg.jpg") no-repeat top center;
    background-size: 100%;
    min-height: 200px;
    overflow: hidden;
}

.personal-pic {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: 35%;
}

.personal-pic img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.personal-bg name {
    position: absolute;
    text-align: center;
    display: block;
    left: 50%;
    width: 60px;
    margin-left: -30px;
    bottom: 20%;
    color: #fff;
}

.personal-news {
    padding: 0 10px;
    background-color: #007cf0;
    color: #fff;
    height: 36px;
}

.personal-news p {
    float: left;
    font-size: 12px;
    line-height: 36px;
}

.personal-news p span {
    color: #f6ff00;
    font-weight: bold;
}

.personal-news a {
    float: right;
    width: 20%;
    height: 30px;
    line-height: 30px;
    background-color: #f6ff00;
    color: #007cf0;
    margin-top: 3px;
    font-size: 12px;
    text-align: center;
}

.personal-list {
    margin-top: 20px;
    margin-bottom: 60px;
}

.personal-list li {
    height: 42px;
    line-height: 42px;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 0 10px;
}

.personal-list li a {
    display: block;
    width: 100%;
    height: 36px;
    color: #555;
}

.personal-list li i {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #007aff;
    width: 24px;
    height: 24px;

}

.personal-list li i.more {
    float: right;
    margin-right: 0px;
    width: 18px;
    height: 18px;
    margin-top: 12px;
    background: url("./img/iconfont-fanhuir.png") no-repeat center center;
    background-size: 46%;
}

.personal-list li i.ico01 {
    background: url("./img/iconfont-7.png") no-repeat center center;
    background-size: 100%;
}

.personal-list li i.ico02 {
    background: url("./img/iconfont-huodong.png") no-repeat center center;
    background-size: 100%;
}

.personal-list li i.ico03 {
    background: url("./img/iconfont-reserve.png") no-repeat center center;
    background-size: 100%;
}

.progress {
    font-size: 14px;
    color: #555;
    line-height: 24px;
    margin: 10px;
}

.progress img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.win {
    margin: 10px;
}

.win li {
    background-color: #fff;
    box-shadow: 1px 1px 6px #A5A5A5;
    padding: 10px;
    position: relative;
    margin-bottom: 15px;
}

.win li .win-warp {
    background: url("./img/jiangpdib.png") no-repeat bottom center;
    background-size: 100%;
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.win li h3 {
    text-align: center;
    line-height: 38px;
    color: #555;
    font-weight: bold;
}

.win li span {
    color: #007aff;
}

.win li p {
    color: #555;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}

.waprbg{
    background-color: #fff;
    padding: 10px 0;
}
.waprbg h2{
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    color: #007cf0;
    border-bottom: 1px solid #007cf0;
}
.waprbg form{
    margin: 0 10px;
}
.waprbg .box{
    margin: 10px 0 ;
}

.waprbg input{
    text-indent: 0.2em;
    width: 100%;
    height: 44px;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-appearance: none;
    appearance: none;
}

.waprbg input::-webkit-input-placeholder{
    font-family: '微软雅黑';
    color: #949494;
}

.waprbg select{
    height: 44px;
    line-height: 44px;
    width: 100%;
    border:1px solid #ccc;
    border-radius: 0;
    color: #949494;
    font-family: '微软雅黑';
    -webkit-appearance: none;
    appearance: none;
}

.waprbg .submit{
    margin-top: 10px;
    border-radius: 0px;
    text-indent: 0em;
    height: 40px;
    line-height: 40px;
    background-color: #007cf0;
    font-size: 15px;
    color: #fff;
    text-align: center;
    border:0px;
    font-family: '微软雅黑';
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}

.add-downs {
  position: relative;
}

.add-downs:after {
  position: absolute;
  content: "";
  display: block;
  border-top: 5px solid #666;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 15px;
  right: 6px;
}


.wappic img{
    max-width: 100%;
    width: 100%;
}